body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display: grid;
    height: 150vh;
    grid-template-columns: 1fr;
    grid-template-rows: 7em 3fr 15em;
    grid-template-areas:
        "header"
        "main"
        "footer";
}










main {
    grid-area: main;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        ". form ."

    ;


}

.form {
    grid-area: form;

}

.form>* {
    margin: 2em;
}

/* Valid and invalid */

input:invalid {
    outline: 2px solid red
}


input:valid {
    border-bottom: 5px solid green;
}



.error-messeage {

    color: rgb(145, 43, 43);
}

input:invalid+.error-messeage {
    visibility: visible;

}

input:valid+.error-messeage {
    visibility: hidden;
}

/* Valid and invalid */


/* Rubrik */
.heading-form {
    grid-area: heading-form;

    text-align: center;
    align-self: center;
    border-bottom: 10px solid rgb(46, 86, 219);

    margin: 0;
    margin-left: 32px;
    margin-right: 32px;
    font-size: 1.7em;


}

/* Rubrik */


/* Person uppgifter */

.form-personal-data {
    grid-area: form-personal-data;
    border: 1px solid black;
    text-align: center;
    background: rgb(93, 170, 255);
    background: linear-gradient(90deg, rgba(93, 170, 255, 0.6786064767703957) 0%, rgba(7, 122, 242, 0.6758053563222164) 100%);
    border-radius: 0.5em;

}

input {
    font-size: 0.8em;
    margin-top: 0.2em;
}

.form-personal-data__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;



}


.form-personal-data__flex>input {
    width: 30em;
    height: 3em;
    transition: 0.3s;

}

.form-personal-data__flex--highlighted>input:focus {
    box-shadow: 0em 0em 0.7em 0.5px rgb(97, 97, 97);

}

/* Person uppgifter */


/* Mat uppgifter*/
.form-food__choose-food {
    visibility: hidden;
}

input#food2:checked+.error-messeage+.form-food__choose-food {
    visibility: visible;

}


.form-food {
    grid-area: form-food;
    border: 1px solid black;
    text-align: center;
    background: rgb(93, 170, 255);
    background: linear-gradient(90deg, rgba(93, 170, 255, 0.6786064767703957) 0%, rgba(7, 122, 242, 0.6758053563222164) 100%);
    border-radius: 0.5em;
}


.form-food__container>* {
    margin-bottom: 1em;
}

.form-food>* {
    margin-bottom: 1em;
}

.form-food__special-food-heading {
    font-weight: bold;
    margin-top: 2em;
}





.form-food__choose-food {
    font-size: 1em;

}

select{
    font-weight: bold;
    background-color: transparent;
    border: 0.2em solid black;
    border-radius: 0.5em;
    padding: 0 1em 0;
    
    cursor: pointer;
    transition: 0.3s;
}

select:hover{
    box-shadow: inset 0em 0em 0.7em 0.1px rgb(164, 164, 164);
}

option{
    font-weight: bold;
}

/* Mat uppgifter */


/* Biljett uppgifter */
.form-ticket {

    grid-area: form-ticket;
    border: 1px solid black;
    text-align: center;
    background: rgb(93, 170, 255);
    background: linear-gradient(90deg, rgba(93, 170, 255, 0.6786064767703957) 0%, rgba(7, 122, 242, 0.6758053563222164) 100%);
    border-radius: 0.5em;
}



.form-ticket>* {
    margin-bottom: 1em;
}




.form-ticket>hr {
    height: 3px;
    background-color: rgb(247, 247, 247);
    margin-left: 1.5em;
    margin-right: 1.5em;

}

/* Biljett uppgifter */

/* Knappar */
.form__button-submit--highlighted {
    border: 2px solid rgb(46, 86, 219);
    background-color: rgb(46, 86, 219);
    color: white;
    border-radius: 10em;

    width: 8em;
    height: 2.5em;
    font-size: 20px;
    padding: 0.4em;
    font-weight: bolder;
margin-top: 1em;
    transition: 0.3s;
}

.form__button-submit--highlighted:hover {
    background-color: white;
    color: rgb(46, 86, 219);
    font-weight: bolder;
    border: 2px solid rgb(46, 86, 219);
    box-shadow: 0em 0em 0.7em 0.5px rgb(164, 164, 164);
    cursor: pointer;
}


.form__button-reset--highlighted {
    background-color: transparent;
    color: white;
    border-radius: 10em;

    width: 5em;
    height: 2.5em;
    font-size: 20px;
    padding: 0.4em;
    font-weight: bolder;

    transition: 0.3s;
}

.form__button-reset--highlighted:hover {

    box-shadow: 0em 0em 0.7em 0.5px rgb(164, 164, 164);
    cursor: pointer;
}

/* Knappar */


fieldset{
    border: none;

}

fieldset >*{
    margin-bottom: 1.5em;
}

label {
   font-size: 1.2em;
   
}

@media only screen and (max-width: 828px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "form"

        ;


    }

    /* Person uppgifter */
    .form-personal-data__flex>input {
        width: 17em;
        height: 3em;
        transition: 0.5s;

    }

    label {
        font-size: 1.1em;
     }
    /* Person uppgifter */
}