body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 150vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7em 3fr 15em;
  grid-template-areas:
    "header"
    "main"
    "footer";
}







.inner-grid {
  grid-area: main;
  display: grid;

  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-rows: 0.2fr 0.7fr 0.7fr 1fr 0.2fr 0.4fr;
  grid-template-areas:
    ". heading ."
    ". text-box-1 ."
    ". text-box-2 ."
    ". text-box-3 ."
    ". heading-persons ."
    "img-container img-container img-container"
  ;

  padding-top: 2em;


}




/* Rubrik  */

.heading {

  grid-area: heading;

  font-size: 1.2em;
  text-align: center;



}

.heading__text {
  font-size: 1.17em;

}

.heading>hr {
  height: 10px;
  background-color: rgb(46, 86, 219);
  margin-bottom: 2em;
}



.heading__more-text {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;



}

.heading__more-text>article {
  text-align: start;

}

.heading__image {
  width: 10em;
  height: 10em;
  border-radius: 0.5em;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  border: 0.3em solid rgb(93, 170, 255);

}

/* Rubrik  */




.text-box-1 {
  grid-area: text-box-1;


  text-align: center;
  border-bottom: 1px solid gray;
}



.text-box-2 {
  grid-area: text-box-2;


  text-align: center;
  border-bottom: 1px solid gray;

}

.text-box-3 {
  grid-area: text-box-3;


  text-align: center;
  border-bottom: 1px solid gray;

}

/* text box seminarier rubrik */
.text-box__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(93, 170, 255);
  background: linear-gradient(90deg, rgba(93, 170, 255, 0.6786064767703957) 0%, rgba(7, 122, 242, 0.6758053563222164) 100%);
  border-radius: 0.5em;
  transition: 0.3s;

}

.text-box__info > p {
  display: flex;
  justify-content: space-between;
  margin-right: 3em;
  margin-left: 3em;
  
}

.text-box__bold-text{
  font-weight: bold;
}


section.text-box__info {
  margin-bottom: 1.5em;
}

section.text-box__info>p {

  font-size: 1.3em;

}

section.text-box__info.text-box__info--highlighted:hover {

  box-shadow: 0em 0em 0.5em 0.01em rgb(78, 78, 78);
}

.text-box__time {
  font-weight: bold;
}



/* text box seminarier rubrik */




/* popup funktion */
a {
  text-decoration: none;
  color: black;
}

.popup-area {
  width: 40%;
  margin: 0 auto;
  padding: 0em 0em 2em;
  text-align: center;
}

.popup__content {
  overflow: auto;
  color: black;
}

.button {
  transition: all 0.3s ease-out;
  text-decoration: underline;
}

.button--highlighted:hover {
  color: rgb(46, 86, 219);

}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 600ms;
  visibility: hidden;
  opacity: 0;
}

#overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  background-color: white;
}

.popup__content {
  margin: 15% auto;
  padding: 1.3em;
  background: #fff;
  border-radius: 0.6rem;
  width: 15em;
  position: relative;
  transition: all 1s ease-in-out;
}

.close {
  display: inline-block;
  color: black;
  width: 2em;
  height: 2em;
  position: absolute;
  top: 1em;
  right: 1em;
}

/* popup funktion */


/* Bild personer  */

.heading-persons {

  grid-area: heading-persons;
  text-align: center;
  margin-top: 6em;
  margin-bottom: 3em;

}

.heading-persons>hr {
  height: 10px;
  background-color: rgb(46, 86, 219);
}

.image-container {
  grid-area: img-container;
  background: rgb(93, 170, 255);
  background: linear-gradient(90deg, rgba(93, 170, 255, 0.6786064767703957) 0%, rgba(7, 122, 242, 0.6758053563222164) 100%);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


  flex-wrap: wrap;
}

.image-container__img-1 {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.6em;
  width: 13em;
  height: 13em;
  background-image: url('./Seminarier/seminarier\ img/Jimmy.jpg');
  transition: 0.3s;

}



.image-container__img-2 {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.6em;
  width: 13em;
  height: 13em;
  background-image: url('./Seminarier/seminarier\ img/Harvy.jpg');
  transition: 0.3s;
}



.image-container__img-3 {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.6em;
  width: 13em;
  height: 13em;
  background-image: url('./Seminarier/seminarier\ img/Ann.jpg');
  transition: 0.3s;
}

.image-container__img-4 {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.6em;
  width: 13em;
  height: 13em;
  background-image: url('./Seminarier/seminarier\ img/Chris.jpg');
  transition: 0.3s;
}




.image-container__img--highlighted:hover {
  box-shadow: 0em 0em 0.7em 0.5px rgb(78, 78, 78);
  transform: scale(1.05);
}

.image-container>figure>p {
  color: white;
  background-color: rgb(46, 86, 219);
  text-align: center;
  margin-top: 10.2em;
  opacity: 0.85;


}

/* Bild personer  */






@media screen and (max-width: 717px) {

  .inner-grid {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr 0.1fr 0.5fr;
    grid-template-areas:
      "heading"
      "text-box-1 "
      "text-box-2"
      "text-box-3"
      "heading-persons"
      "img-container"
    ;

    padding-top: 2em;


  }

  /* Rubrik */

  .heading {
    border-radius: 0;
  }

  .heading__more-text {
    flex-direction: column;
    border-radius: 0em;
  }

  .heading__more-text>p {
    margin-left: 1em;
    margin-right: 1em;
  }

  .heading__image {
    margin-right: 0em;
    margin-left: 0em;
  }

  .heading__more-text>article {
margin-right:1em ;
    margin-left: 1em;
  }

  /* Rubrik */


}